@keyframes handShake {
  0%,100% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
}

@keyframes handShake2 {
  0%,100% { transform: rotateY(180deg) rotate(10deg); }
  50% { transform: rotateY(180deg) rotate(-10deg); }
}

.hand {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  /* animation: handShake 2s infinite; */
}

#right-hand {
    transform: rotateY(180deg);
    /* animation: handShake2 2s infinite; */
    position: relative;
  }

.hand > div {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid black;
  background: gold;
  transition: all 0.1s;
}

.fist {
  height: 110px;
  left: 40px;
  top: 50px;
  width: 90px;
  border-radius: 20px 0 0 20px;
}

.finger {
  width: 70px;
  height: 30px;
  border-radius: 20px;
  left: 80px;
  transform-origin: 0 50%;
}

div.thumb {
  width: 35px;
  height: 70px;
  border-radius: 0 20px 20px 20px;
  top: 50px;
  left: 80px;
  border-left: 0 solid;
  box-shadow: -17px 6px 0 -15px black;
}

div.arm {
  width: 52px;
  height: 70px;
  left: -10px;
  top: 70px;
  border: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.rockFinger-1 { top: 50px; --dif: 0px; }
.rockFinger-2 { top: 78px; left: 84px; --dif: 4px; }
.rockFinger-3 { top: 106px; --dif: 0px; }
.rockFinger-4 { top: 134px; height: 26px; left: 76px; --dif: -8px; }

.paperFinger-1 { top: 50px; --dif: 0px; left: 124px; left: calc(124px + var(--dif)); width: 80px; border-left: 0; border-radius: 0 20px 20px 0;}
.paperFinger-2 { top: 78px; left: 84px; --dif: 4px; left: 124px; left: calc(124px + var(--dif)); width: 80px; border-left: 0; border-radius: 0 20px 20px 0;}
.paperFinger-3 { top: 106px; --dif: 0px; left: 124px; left: calc(124px + var(--dif)); width: 80px; border-left: 0; border-radius: 0 20px 20px 0; }
.paperFinger-4 { top: 134px; height: 26px; left: 76px; --dif: -8px; left: 124px; left: calc(124px + var(--dif)); width: 80px; border-left: 0; border-radius: 0 20px 20px 0;}

.scissorsFinger-1 { top: 50px; --dif: 0px; width: 130px; transform:rotate(-5deg);}
.scissorsFinger-2 { top: 78px; left: 84px; --dif: 4px; width: 130px; transform:rotate(5deg);}
.scissorsFinger-3 { top: 106px; --dif: 0px; }
.scissorsFinger-4 { top: 134px; height: 26px; left: 76px; --dif: -8px; }